PORT=
BACKEND_HOST=
FRONTEND_HOST=

MONGODB_URI= 

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

SENDGRID_API_KEY=
EMAIL_SENDER=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=


JWT_SECRET=